# Forbid OpenOCD from ever touching a hardware reset line. Over the USB3340/J33
# transceiver path, a TRST/MSS reset browns out the ULPI clock and kills the USB
# link, crashing OpenOCD ~1-2s later. We rely purely on software halts (arp_halt).
set DEVICE MPFS
source [find board/microchip_riscv_efp6.cfg]

# nullify all hardware-reset behaviour
reset_config none
proc do_board_reset_init {} { }
proc board_reset_init {} { }
catch { mpfs.hart0_e51 configure -event reset-init {} }
catch { mpfs.hart1_u54_1 configure -event reset-init {} }
catch { mpfs.hart2_u54_2 configure -event reset-init {} }
catch { mpfs.hart3_u54_3 configure -event reset-init {} }
catch { mpfs.hart4_u54_4 configure -event reset-init {} }
catch { mpfs.hart0_e51 configure -event reset-assert {} }
catch { mpfs.hart0_e51 configure -event reset-deassert {} }
